body{
    width: 100vw;
    margin: 0px;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 3rem;
    overflow-x: hidden;
}

header{
    width: 90%;
    margin: 1rem 0px;
    height: 5rem;
    display: flex;
    justify-content: space-between;
}

header nav{
    margin: 0px;
    height: 100%;
}

header nav .dropdown-menu button{
    font-size: 3rem;
    border: none;
    background-color: white;
}

header nav ul{
    width: 100%;
    height: auto;
    margin: auto;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul li{
    list-style: none;
    background-color: white;
    z-index: 2;
    padding: 0rem 2rem 2rem;
}

header nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
}

header nav ul li .dropdown{
    position: relative;
}

header nav ul li .dropdown a{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 400;
    margin: 0.1rem;
}

header nav ul li .dropdown .dropbtn{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    font-weight: 600;
    background-color: white;
    border: none;
}

header nav ul li .dropdown .dropdown-content {
    width: max-content;
    height: auto;
    display: none;
    flex-direction: column;
    background-color: white;
    z-index: 4;
    padding: 0rem 2rem 2rem;
}

header div{
    font-size: 2rem;
    margin: 0px;
}

header div h1{
    margin: 0px;
}


main{
    width: 95%;
    margin: 0px 0px 0px 5rem;
    height: 70%;
    display:flex;
    flex-direction: column;
    box-sizing: border-box;
}

main .div{
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    height: auto;
    padding: 1rem;
    border: 2px solid black;
    margin-bottom: 2rem;
    display:flex;
    justify-content: space-between;
    position: relative;
}

main .div .text{
    width: 70%;
    height: auto;
    position: relative;
}

main .div .text h1{
    font-size: 4rem;
    font-weight: 500;
    margin: 0px;
}

main .div .text p{
    width: 65%;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 500;
    margin-bottom: 10rem;
}

main .div .text .span{
    position:absolute;
    bottom: 0px;
    height: 6rem;
}

main .div .text .span p{
    font-size: 1rem;
    font-weight: 600;
    margin: 0px;
}

main .div .text .span span{
    width: 100%;
    text-align: center;
    display:flex;
    justify-content: space-between;
}

main .div .text .span span a{
    text-decoration: none;
    font-size: 2rem;
    font-weight: 100;
    color: black;
}

main .div .text{
    width: 65%;
}

main .div .image{
    width: 50%;
    height: 100%;
}

main .div .image img{
   width: 100%;
   height: 25rem;
   margin: 0px;
}

footer{
    width: 92%;
    margin: 0rem 0rem 0rem 3rem;
}

footer .container{
    width: 100%;
    margin: 0px;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

footer .container .footer-text h1{
    font-size: 4rem;
    margin: 0px;
}

footer .container .footer-text span a{
    font-size: 2rem;
    margin-right: 0px;
    color: black;
    text-decoration: none;
}

footer .container .form{
    width: 60%;
}

footer .container .form form{
    width: 100%;
    height: 90%;
}

footer .container .form form span{
    width: 100%;
}

footer .container .form form span #email{
    width: 70%;
    padding: 0.4rem 1rem;
    margin-bottom: 1rem;
}

footer .container .form form span button{
    background-color: black;
    border: none;
    color: white;
    padding: 0.5rem 2rem;
}

/* details page */
.details{
    width: 95dvw;
    margin: 0rem;
}

.details .image2{
    width: 97%;
    height: 30rem;
    margin: 0rem;
}

.details .image2 img{
    width: 95%;
    height: 100%;
    margin: 0rem;
}

.details .div2{
    width: 95%;
    height: fit-content;
    margin: 0rem;
    margin-bottom: 3rem;
    border: none;
}

.details .div2 p{
    font-size: 1.1rem;
    line-height: 2.5rem;
}