{% extends "./base.html" %}
{% load static %}
{% block title %}All post{% endblock %}
{% block content %}
<main>
<div class='div'>
    <div class='text'>
        <h1>Pod Apex</h1>
        <p>Here, we explore the world of ideas, Stories, and insights, offering valuable knowledge and thought-provoing prespectives</p>
        <span class='span'>
            <p>@podapex</p>
            <span>
                <a href=''>Read more</a>
            </span>
        <span>
    </div>
    <div class='image'>
        <img src="{% static 'core/images/20231020_181135.jpg' %}" alt=''>
    </div>
</div>
<div class='div'>
    <div class='text'>
        <h1>Pod Apex</h1>
        <p>Here, we explore the world of ideas, Stories, and insights, offering valuable knowledge and thought-provoing prespectives</p>
        <span class='span'>
            <p>@podapex</p>
            <span>
                <a href=''>Read more</a>
            </span>
        <span>
    </div>
    <div class='image'>
        <img src="{% static 'core/images/20231020_181135.jpg' %}" alt=''>
    </div>
</div>
</main>
{% endblock  %}