{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>POD APEX - {% block title %}{% endblock  %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="{% static 'core/css/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/boxicons/css/boxicons.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'core/css/style-one.css' %}" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="dropdown dropdown-menu">
                <button onclick="toggleDropdown('dropdown-content-top')" class="dropbtn"><i class="bi bi-list"></i></button>
            </div>
            <ul class="dropdown-content"  id="dropdown-content-top">
                <li>
                    <div class="dropdown">
                        <button onclick="toggleDropdown('dropdown-content')" class="dropbtn">Categories <i class="bi bi-caret-down-fill"></i></button>
                        <div class="dropdown-content" id="dropdown-content">
                            <a href="#">Service 1</a>
                            <a href="#">Service 2</a>
                            <a href="#">Service 3</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href='/allPost'>Learn</a>
                </li>
                <li>
                    <a href='/carrier/'>Career</a>
                </li>
                <li>
                    <a href='/contact/'>Contact</a>
                </li>
            </ul>
        </nav>
        <div class="letter">
            <h1>Pod Apex</h1>
        </div>
        <div>
            <a href="">
                <i class="bi bi-search"></i>
            </a>
        </div>
    </header>
    {% block content %}
    <main>
        
    </main>
    {% endblock  %}
    <footer>
        <div class='container'>
            <div class="footer-text">
                <h1>Pod Apex</h1>
                <p>@podapex</p>
                <span>
                    <a href='https://www.instagram.com/_perpyy/'><i class='ri-instagram-line'></i></a>
                    <a href='https://www.facebook.com/perpetual.daniels.79/'><i class='ri-facebook-fill'></i></a>
                    <a href=''><i class='ri-twitter-fill'></i></a>
                    <a href='https://www.linkedin.com/in/perpetual-oviri-oghenekaro-053a61198/'><i class='ri-linkedin-box-fill'></i></a>
                </span>
            </div>
            <div class="form">
                <form action="" method="post">
                    <h3>Subscribe to our newsletter!</h3>
                    <p>
                        Get updates on the latest posts 
                        and more from Brilliantio straight to your inbox
                    </p>
                    <span>
                        <input type="email" name="email" id="email" placeholder="Subscribe">
                        <button type="submit">Subscribe</button>
                    </span><br>
                    <span>
                        <input type="checkbox" name="checkbox" id="checkbox">
                        <label for="">I consent to receiving emails and personalized ads.</label>
                    </span>
                </form>
            </div>
        </div>
    </footer>
    <script src="{% static 'core/javascript/script.js' %}"></script>
</body>
</html>