{% extends "./base.html" %}
{% load static %}
{% block title %}Details{% endblock %}
{% block content %}
<main class='details'>
    <div class='image2'>
        <img src="../static/core/images/20231020_181135.jpg" alt=''>
    </div>
    <div class='div2'>
        <div class='text'>
            <h1>Pod Apex</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis dicta reiciendis, dolore quidem, fuga, ex impedit earum corrupti hic possimus suscipit dolor perspiciatis facere! Laboriosam modi quibusdam ex, est sint voluptates. Debitis maxime saepe itaque dignissimos, labore aliquid ratione ut deleniti placeat officiis voluptatum exercitationem cumque ipsam inventore nostrum nulla error ea possimus consequatur ducimus! Neque assumenda molestiae quia, recusandae expedita dignissimos quod vel fugiat libero? Officiis delectus deserunt non reprehenderit a consectetur odit unde laboriosam veritatis itaque quam hic blanditiis ducimus, voluptatem qui sequi fugit, nesciunt, iusto consequatur. Quam error dolorem mollitia atque tempore neque in dignissimos, praesentium minus?</p>
        </div>
    </div>
  </main>
{% endblock  %}